
/* Header Section */

.imgCustom{
	margin-bottom: 3rem;
}

.imgCustom{
	margin-bottom: 2rem;
}

.titleCustom{
	font-weight: 600;
}

.headerProfile{
	margin-bottom: 8rem;
}

.memberProfile{
	margin-bottom: 14rem;
}

.headerUnderline{
	width: 10rem;
	text-align: center;
	border-bottom: 4px solid rgba(239, 12, 12, 1);
	border-radius: 0.2rem;
	margin-bottom: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.headerUnderlineCase{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.boxCase{
	position: relative;
}

.boxFirst{
	position: absolute;
	top: 70px;
	left: -50px;
}

.boxSecond{
	position: absolute;
	top: 70px;
	right: -60px;
}

.boxThird{
	position: absolute;
	top: 440px;
	left: 220px;
}

.boxFourth{
	position: absolute;
	top: 420px;
	left: -815px;
}

.boxFluid img{
	width: 12rem;
	z-index: -1;
}
/*Responsiveness * Media Queries*/

@media(max-width: 768px){

	/*Nav Section*/

	nav{
		margin-bottom: 1.2rem;
	}

	.navLinkContainer ul{
		width: 400px;
		margin-right: 1rem;
	}

	/*Footer*/

	.footer-logo-case{
	height: 19rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

	.footer-btn{
		margin-left: 1rem;
	}

	.boxFluid{
		display: none;
	}

}

@media(max-width: 586px){

	/* Nav Section */
	.logo img{
		width: 25px;
	}

	.header-btn{
		width: 80px;
		font-size: 0.5rem;
	}

	.navLinkContainer ul{
		width: 220px;
	}

	.navLinkContainer ul li a{ 
		font-size: 0.6rem;
	}


	/* Footer */

	.contact{
		align-items: baseline;
	}

	.footerIcon{
		width: 1.3rem;
		margin-left: 0rem;
		margin-right: 0.5rem;
	}

}

@media(min-width: 587px){
	.headerTxtResponsive{
		display: none;
	}

}


@media(max-width: 520px){

	.navLinkContainer{
		display: none;
	}

	.btnResponsive{
		display: none;
	}

	.menuResponsive{
		display: block;
	}
	
}

@media(min-width: 521px){
	.menuResponsive{
		display: none;
	}

}

